<configuration>
    <system.web>
     <customErrors mode="Off" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\home\Python364x64\python.exe|D:\home\Python364x64\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="main.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="SCRIPT_NAME" value="/main" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="D:\home\site\wwwroot\wsgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />

  </appSettings>
</configuration>