@import '../../App.scss';

.modalWrapper {
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
}
.headTitle {
  @include subTitle;
  margin-left: 6px;
}

.title {
	margin: 5px 0;
	font-family: "Source Serif Pro";
	font-size: 17px;
	font-weight: 400;
	line-height: 32px;
}

.icon {
	@include subTitle;
	display: flex;

}

.cancel {
	@include linkBtn;
}

.descriptionLabel, .emailLabel {
  @include smallText;
  margin-bottom: 4px;
  color: $clDark;
}

.reportForm {
	display: flex;
  flex-direction: column;
  color: $clDark;
}

.email {
	width: 100%;
	height: 36px;
	padding: 6px 10px;
	margin-bottom: 40px;
	font-size: 14px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	border: 1px solid #b2b2b2;
	background-color: #ffffff;
}

.description {
	width: 100%;
	height: 72px;
	padding: 6px 10px;
	margin-bottom: 40px;
	font-size: 14px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	border: 1px solid #808080;
	background-color: #ffffff;
}

.invalid {
		margin-bottom: 6px;
		border-color: $clError;
}

.errorText{
	margin-bottom: 10px;
	color: $clError;
	font-family: "Source Serif Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.submitWrapper {
	display: flex;
	justify-content: flex-start;
}
.submit {
	background-color: $clPrimary;
	color: $clPrimaryLight;
	font-family: "Source Serif Pro";
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	padding: 6px 20px;
	border-radius: 18px;
	height: 36px;
}

.submited {
  margin-bottom: 10px;
	.text {
		margin-bottom: 30px;
		color: $clSuccessText;
		font-family: "Source Serif Pro";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	.close {
		@include linkBtn;
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
	}
}
