@import 'assets/styles/mixins';

.detail {
  background-color: $clBackground;
}

.body {
  margin: 24px auto 0;
  display: flex;
  width: $resBase;
}

.heading {
  @include condensedTitle;
  margin-bottom: 24px;
  padding: 24px;
  display: flex;
  background: #fff;
  .wrapper {
    position: relative;
    margin: 0 auto;
    padding-left: 200px;
    align-items: center;
    display: flex;
    max-width: $resBase;
    width: 970px;
    box-sizing: content-box;
  }
	.fullname,
  .birthYear {
    margin-right: 10px;
	}
	.additionalWrapper {
		display: flex;
	}
  .birthYear,
	.currentParty,
	.lastUpdate {
    color: $clDark;
  }
  .fullname {
    @include headerTitle;
    text-transform: capitalize;
  }
	.currentParty {
		margin-left: 10px;
		margin-right: 10px;
	}
	.lastUpdate {
		margin-left: 10px;
		text-transform: none;
		display: flex;
	}
	.lastUpdateLabelShort {
		display: none;
	}
  .personal,
  .lastUpdateWrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}
.photo {
  position: absolute;
  left: 0;
  top: 0;
}
.initials,
.initialsWrapper {
  display: flex;
  flex: 1;
}
.initials {
  align-items: center;
}
.initialsWrapper {
  @include regularText;
  align-items: baseline;
  flex-wrap: wrap;
}
.divider {
  position: relative;
  top: -3px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  opacity: .2;
}
.shareWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	.shareText {
		@include regularText;
		color: $clDark;
		text-transform: none;
	}
}

.shareBtn {
	margin-left: 5px;
}

.menuWrapper {
  margin: 142px 30px 0 0;
  min-width: 170px;
  max-width: 170px;
}
.menu {
  position: sticky;
  top: 32px;
  .link {
    @include linkBtn;
    margin-bottom: 25px;
    color: #000;
  }
}

.titleWrapper {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  .title {
    @include lightTitle;
    margin-right: 20px;
    flex: 1 0 auto;
  }
  .subtitleWrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .subtitle {
    @include subTitle;
  }
  .line {
    margin-left: 16px;
    flex: 1;
    height: 1px;
    background-color: $clLine;
  }
}
.titleDivider {
  display: inline-flex;
  flex: 1 1 auto;
  width: 100%;
}
.widgets {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.widget {
  margin-bottom: 36px;
  padding: 30px;
  width: $widgetBase;
  border-top: 2px solid $clDarkBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #fff;

  &.engage {
    width: 100%;
  }

  .header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
	.headerTitleWrapper {
		display: flex;
	}
	.title {
		@include condensedTitle;
		margin-right: 8px;
	}
  .tags,
  .tag {
    display: flex;
  }
  .tags {
    align-self: flex-start;
  }
  .tag {
    margin-right: 10px;
    padding: 0 8px;
    align-items: center;
    border-radius: 50px;
    background-color: $clPrimaryLight;
  }
  .tagname {
    margin-left: 4px;
    color: $clPrimaryText;
  }
}
.widgetWithTable {
  .tableRow {
    margin: 0 -10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
      background-color: $clTableRow;
    }
  }
  .name {
    max-width: 40%;
    min-width: 40%;
  }
  .tableSection {
    margin-bottom: 20px;
  }
}

.roles {
  .tableRow {
    justify-content: flex-start;
  }
}

.insolvency {
  .tableRow {
    &:nth-child(even) {
      background-color: #fff;
    }

    &:nth-child(odd) {
      background-color: $clTableRow;
    }
  }
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
  box-shadow: none;
}

.reportBtnWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
	background-color: #F2F2F2;
	cursor: pointer;
}
.reportBtn {
  transform: scale(.6);
}

@media screen and (max-width: 1169px) {
  .body {
    width: $resFluid;
  }
  .heading {
    .wrapper {
      max-width: $resFluid;
    }
  }
}

@media screen and (max-width: 979px) {
  .heading {
    padding: 10px 20px;
    .wrapper {
      padding: 0;
    }
  }
  .menuWrapper {
    display: none;
  }
  .photo {
    margin-right: 10px;
    position: relative;
    width: 20vw;
  }
  .initialsWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .widget {
    width: $widgetFluid;
  }
  .personal {
    @include smallText;
  }
  .shareBtn {
    font-size: 14px;
  }
  .titleWrapper {
    margin: 0 20px 36px;
	}
	.additionalWrapper {
		flex-direction: column;
	}
	.lastUpdateWrapper {
		@include smallText;
		margin-top: 7px;
		.divider {
			display: none;
		}
		.lastUpdate {
			margin-left: 0;
		}
		.lastUpdateLabel {
			display: none;
		}
		.lastUpdateLabelShort {
			display: inline;
		}
	}
}

@media screen and (max-width: 479px) {
  .heading {
    .fullname {
      @include subTitle;
    }
  }
  .photo {
    width: 40px;
    height: 40px;
  }
}
