@import 'assets/styles/mixins';

.widget {
  margin-bottom: 36px;
  padding: 30px;
  width: $widgetBase;
  border-top: 2px solid $clDarkBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #fff;
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .title {
    @include condensedTitle;
    margin-bottom: 24px;
    line-height: 24px;
  }
  .tags,
  .tag {
    display: flex;
  }
  .tags {
    align-self: flex-start;
  }
  .tag {
    margin-right: 10px;
    padding: 0 8px;
    align-items: center;
    border-radius: 50px;
    background-color: $clPrimaryLight;
  }
  .tagname {
    margin-left: 4px;
    color: $clPrimaryText;
  }
}
.widgetWithTable {
  .tableRow {
    margin: 0 -10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
      background-color: #fff;
    }

    &:nth-child(odd) {
      background-color: $clTableRow;
    }
  }
  .name {
    max-width: 40%;
    min-width: 40%;
  }
  .tableSection {
    margin-bottom: 20px;
  }
}

.subtitleWrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.subtitle {
  @include subTitle;
}
.line {
  margin-left: 16px;
  flex: 1;
  height: 1px;
  background-color: $clLine;
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
}

.reportBtnWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
	background-color: #F2F2F2;
	cursor: pointer;
}
.reportBtn {
  transform: scale(.6);
}
.description {
	margin-bottom: 17px;
}

@media screen and (max-width: 650px) {
  .widget {
    width: $widgetFluid;
  }
}
