@import '../../App.scss';

.widget {
  margin-bottom: 36px;
  padding: 30px;
  width: 48%;
  border-top: 2px solid $clDarkBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #fff;
  .header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    @include condensedTitle;
    margin-bottom: 24px;
  }
}
.widgetWithTable {
  .tableSection {
    margin-bottom: 20px;
  }
  .tableRow {
    margin: 0 -10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    &:nth-child(even) {
      background-color: $clTableRow;
    }
  }
  .name {
    max-width: 40%;
    min-width: 40%;
  }
}
.more {
  @include linkBtn;
  color: $clPrimary;

  &:after {
    background-color: $clPrimary;
  }
}
.subtitle {
  @include subTitle;
  margin-bottom: 10px;
}
