@import 'assets/styles/mixins';

.results {
  display: flex;
  flex-direction: column
}
.resultRow {
  padding: 30px;
  box-shadow: inset 0 1px 0 #e5e5e5;
  text-decoration: none;

  &:nth-child(odd) {
    background-color: $clTableRow;
  }
}
.resultItem {
  display: flex;
}
.nameWrapper {
  margin-right: 12px;
  max-width: 250px;
}
.name {
  @include headerTitle;
}
.pictureWrapper {
  margin-right: 30px;
}
.dataWrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.link {
  @include linkBtn;
  height: 39px;
  line-height: 53px;
  color: $clPrimary;
  white-space: nowrap;

  &:after {
    background-color: $clPrimary;
  }
}

.count, .emptyTitle {
  @include condensedTitle;
  margin: 0 0 17px 30px;
}

.explanationWrapper {
	@include regularText;
	text-align: center;
	margin: 0 30px;
	padding: 45px 0;
	box-shadow: inset 0 1px 0 #e5e5e5;

}

.usage {
  margin-top: 24px;
  color: $clDark;
}

.report {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
  color: $clPrimary;

  svg g {
    stroke: $clPrimary;
  }

	.text {
		@include linkBtn;
		margin-left: 10px;
		color: $clPrimary;

		&:after {
			background-color: $clPrimary;
		}
	}
}

.face {
  position: relative;
	width: 170px;
	height: 170px;
	background-color: #e7e7e7;
	border-radius: 50%;
  margin: 45px auto 0 auto;

  &:after {
    content: '';
    width: 55px;
    position: absolute;
    top: 30%;
    height: 43px;
    right: 25%;
    background: url('./../../assets/images/face-sad.svg');
  }
}

.initialsWrapper {
  @include regularText;
  margin-top: 8px;
  display: flex;
  align-items: baseline;
}

.birthYear,
.deathYear,
.currentParty {
  margin-right: 10px;
  color: $clDark;
}

.currentParty {
  margin-left: 10px;
}

.divider {
  position: relative;
  top: -3px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  opacity: .2;
}

@media screen and (max-width: 1169px) {
  .results {
    margin: 0 20px;
  }
  .pictureWrapper {
    flex: 0 1 20vw;
  }
}

@media screen and (max-width: 650px) {
  .resultRow {
    padding: 20px 0;
  }
  .dataWrapper {
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
  }
  .count {
    margin: 0 0 17px 20px;
  }
  .name {
    @include subTitle;
  }
  .initialsWrapper {
    @include smallText;
  }
  .pictureWrapper {
    display: flex;
    align-items: center;
  }
}
