@import '../../App.scss';

.results {
  display: flex;
  flex-direction: column
}

.resultRow {
  padding: 30px;
  box-shadow: inset 0 1px 0 #e5e5e5;
  text-decoration: none;

  &:nth-child(odd) {
    background-color: $clTableRow;
  }
}

.resultItem {
  display: flex;
}

.name {
  @include headerTitle;
}

.pictureWrapper {
  margin-right: 30px;
}

.dataWrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.link {
  @include linkBtn;
  height: 39px;
  line-height: 53px;
  color: $clPrimary;

  &:after {
    background-color: $clPrimary;
  }
}

.count, .emptyTitle {
  @include condensedTitle;
  margin: 0 0 17px 30px;
}

.explanationWrapper {
	@include regularText;
	text-align: center;
	margin: 0 30px;
	padding: 45px 0;
	box-shadow: inset 0 1px 0 #e5e5e5;

}

.usage {
	margin-top: 26px;
}

.report {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	color: $clPrimary;

	.text {
		@include linkBtn;
		margin-left: 10px;
		color: $clPrimary;

		&:after {
			background-color: $clPrimary;
		}
	}
}

.face {
	width: 170px;
	height: 170px;
	background-color: #e7e7e7;
	border-radius: 50%;
	margin: 45px auto 0 auto;
}

.initialsWrapper {
  @include regularText;
  margin-top: 8px;
  display: flex;
  align-items: baseline;
}

.birthYear,
.currentParty {
  margin-right: 10px;
  color: $clDark;
}

.currentParty {
  margin-left: 10px;
}

.divider {
  position: relative;
  top: -3px;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  opacity: .2;
}
