@import 'assets/styles/mixins';

.wrapper {
  position: relative;
  display: flex;
  height: 60px;

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url('../../assets/images/search-dark.svg')no-repeat center center;
    background-size: contain;
  }
}
.input {
  flex: 1;
  padding: 0 42px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border: 1px solid $clComponentBorder;
  border-right: 0;
  border-radius: 30px 0 0 30px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 3px rgba(0, 0, 0, 0.05);
}
.searchBtn {
  padding: 8px 55px;
  display: flex;
  align-items: center;
  max-height: 60px;
  border-radius: 0 30px 30px 0;
  background-color: #307abe;
  color: #ffffff;
  font-size: 21px;
  line-height: 24px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 2px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  &:hover {
    background-color: #2e8ee5;
  }
}
.result-list {
  display: flex;
  flex-direction: column;
}
.icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .icon {
    display: block;
  }
  .noIcon {
    display: none;
  }
}
