@import 'assets/styles/mixins';

.form {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr 110px;
  grid-template-rows: 1fr;
  gap: 0px 16px;
  grid-template-areas:". . . .";
}
.searchInput {

}
.searchBtn {
  display: flex;
  align-items: center;
  padding: 16px 14px 15px;
  background: $clBlueButton;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: $clBlue;
  }
}
.result-list {
  display: flex;
  flex-direction: column;
}
.icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .icon {
    display: block;
  }
  .noIcon {
    display: none;
  }
}
