@import 'assets/styles/mixins';

.form {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 320px repeat(3, 1fr) 110px;
  grid-template-rows: 1fr;
  gap: 10px 16px;

  @media screen and (max-width: 1024px) and (min-width: 650px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-auto-flow: row dense;

    > *:first-child {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }
}
.searchInput {

}
.searchBtn {
  padding: 16px 14px 15px;
  background: $clBlueButton;
  border-radius: $brRadius;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $clBlue;
  }
}
.result-list {
  display: flex;
  flex-direction: column;
}
.icon {
  display: none;
}
.isSearched {
  padding: 40px 0;
  border-bottom: 1px solid $clAlto;
  margin-bottom: 40px;
}
.searchedLogo {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;

  svg {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .icon {
    display: block;
  }
  .noIcon {
    display: none;
  }
}
