@import '../../vars';

.grohe-select__control {
	display: flex;
	justify-content: space-between;
	padding: 18px 20px 16px;
	border-color: $color-gray-primary;
	border-radius: $border-radius;
	box-shadow: none;
}

.grohe-select__control.grohe-select__control--is-focused {
	border: 1px solid $color-dark;
	border-radius: $border-radius;
	box-shadow: none;
}

.grohe-select__indicator-separator {
	display: none;
}

.grohe-select__menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 10px 0;
	margin-top: 12px;
	border: 1px solid $color-gray-secondary;
	border-radius: $border-radius;
	background-color: white;
}

.grohe-select__option {
	padding: 15px 19px;
	background-color: $color-light;

	&:hover {
		background-color: $color-gray-primary;
	}
}

.grohe-select__option--is-selected {
	background-color: $color-primary;
}

.grohe-select__indicators {
	transition: 0.2s transform;
}

.grohe-select__control--menu-is-open .grohe-select__indicators {
	transform: rotate(180deg);
}

.grohe-select__value-container {
	padding: 0;
}
