@import 'assets/styles/mixins';

.widget {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06), 4px 4px 4px rgba(0, 0, 0, 0.06);
	padding-bottom: 30px;
  border-top: 2px solid $clDarkBorder;
  box-sizing: border-box;
  background-color: #fff;

  &.engage {
    width: 100%;
  }

  .header {
		margin-bottom: 24px;
		padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
		flex-wrap: wrap;
		.reportBtnWrapper {
			@include reportBtn;
		}
		.reportBtn {
			transform: scale(.6);
		}
	}
	.titleWrapper {
		display: flex;
	}
  .title {
		@include condensedTitle;
		margin-right: 8px;
  }
	.subtitleWrapper {
		margin-bottom: 10px;
		padding: 0 20px 0 30px;
    display: flex;
    align-items: center;
  }
  .subtitle {
    @include subTitle;
  }
  .line {
    margin-left: 16px;
    flex: 1;
    height: 1px;
    background-color: $clLine;
	}
	.contactsWrapper {
		margin: 0 20px 20px 20px;
		.contact {
			display: flex;
			align-items: center;
			height: 40px;
			&:nth-child(odd) {
				background-color: $clTableRow;
			}
			.icon {
				margin-left: 10px;
			}
			.link {
				@include linkBtn;
				margin-left: 10px;
			}
		}
	}
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
  box-shadow: none;
}

@media screen and (max-width: 650px) {
  .widget {
    margin-bottom: 36px;
  }
}
