@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 330px);

  .wrapper {
    height: 78px;
    width: 78px;
  }

  .circle {
    animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .circle:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1E1E1E;
    margin: -4px 0 0 -4px;
  }
  .circle:nth-child(1) {
    animation-delay: -0.036s;
  }
  .circle:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .circle:nth-child(2) {
    animation-delay: -0.072s;
  }
  .circle:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .circle:nth-child(3) {
    animation-delay: -0.108s;
  }
  .circle:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .circle:nth-child(4) {
    animation-delay: -0.144s;
  }
  .circle:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .circle:nth-child(5) {
    animation-delay: -0.18s;
  }
  .circle:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .circle:nth-child(6) {
    animation-delay: -0.216s;
  }
  .circle:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .circle:nth-child(7) {
    animation-delay: -0.252s;
  }
  .circle:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .circle:nth-child(8) {
    animation-delay: -0.288s;
  }
  .circle:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
}
