@import 'assets/styles/mixins';

.widget {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06), 4px 4px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 36px;
  padding: 30px;
  border-top: 2px solid $clDarkBorder;
  box-sizing: border-box;
  background-color: #fff;
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
	.headerTitleWrapper {
		display: flex;
	}
  .title {
		@include condensedTitle;
		margin-right: 2px;
    margin-bottom: 24px;
    line-height: 24px;
  }
  .tags,
  .tag {
    display: flex;
  }
  .tags {
    align-self: flex-start;
  }
  .tag {
    margin-right: 4px;
    padding: 0 8px;
    align-items: center;
    border-radius: 50px;
    background-color: $clPrimaryLight;
  }
  .tagname {
    @include tag;
  }
  .subtitleWrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .subtitle {
    @include subTitle;
  }
  .line {
    margin-left: 16px;
    flex: 1;
    height: 1px;
    background-color: $clLine;
  }
}
.link {
  @include linkBtnPrimary;
  margin-top: 20px;
}
.itemDesignation {
  margin: 16px 0 10px;
  text-transform: uppercase;
}
.notification {
  margin-bottom: 30px;
}
.collapsable {
  text-align: left;
}
.collapsed {
  display: none;
}
.linkWrapper {
  display: flex;
  align-items: center;
  .link {
    @include linkBtnPrimary;
  }
  .redirectBtn {
    margin-top: 15px;
    margin-left: 6px;
    cursor: pointer;
  }
}
.reportBtnWrapper {
  @include reportBtn;
}
.reportBtn {
  transform: scale(.6);
}

.showMore {
  margin: 0 -30px;
  padding: 20px 20px 0 30px;
  border-top: 1px solid $clBorder;
}
.more,
.less {
  @include linkBtnPrimary;

  &:before {
    content: '';
    position: absolute;
    left: calc(100% + 12px);
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid $clPrimary;
    border-left: 3px solid $clPrimary;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 2px;
  }
}
.less {
  &:before {
    top: 8px;
    transform: rotate(135deg);
  }
}

.widgetWithTable {
  .tableRow {
    margin: 0 -10px;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
      background-color: $clTableRow;
    }
  }
  .name {
    opacity: .75;
  }
}
