@import '../../../App.scss';

.emptyState {
  padding: 32px 16px;
  text-align: center;
}
.circle {
  margin: auto;
  display: flex;
  width: 70px;
  height: 70px;
  border: 1px solid $clLine;
  border-radius: 50%;
}
.image {
  margin: auto;
}
.title {
  margin-top: 18px;
}
