
@import 'assets/styles/mixins';

.errorPage {
  padding: 80px 0 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.header {
  @include condensedTitle;
}
.link {
  @include linkBtn;
  margin: 24px 0 72px;
  color: $clPrimary;

		&:after {
			background-color: $clPrimary;
		}
}
