@import 'assets/styles/mixins';

.footer {
  padding: 50px 0 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #1E1E1E;
  color: #fff;
  text-align: left;
}
.column {
  margin-bottom: 24px;
}

.top {
  margin: 0 auto;
  padding: 0 20px 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $resBase;
  width: $resBase;
}
.header {
  margin-bottom: 20px;
  font-weight: 600;
}
.social {
  margin-right: 30px;
}
.socialWrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.socialLink {
  @include regularText;
  margin-left: 10px;
  color: #fff;
}
.sponsor {
  font-weight: 600;
}
.contacts {
  margin-right: 30px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $clLightGrayText;
}
.address {
  margin-right: 44px;
}

.bottom {
  padding: 12px 20px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $clLight;
}
.bottomWrapper {
  margin: 12px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $resBase;
  width: $resBase;
}
.logo {
  fill: #fff;
}
.logoNP {
  width: 215px;
}
.logoTI {
  width: 230px;
}
.logoHS {
  width: 60px;
}
.logosBttm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  @include linkBtn;
  @include smallText;
  color: $clLightGrayText;
  white-space: nowrap;

  &:after {
    background-color: #fff;
  }
}
.aboutUsLink {
  @include linkBtn;
  display: flex;
  align-items: center;
  color: $clLightGrayText;
  white-space: nowrap;

  &:after {
    background-color: #fff;
  }
}
@media screen and (max-width: 1169px) {
  .top,
  .bottomWrapper {
    width: $resFluid;
    max-width: $resFluid;
  }
}
