.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, .5);
}

.modalContent {
	width: 300px;
  max-height: 380px;
  height: auto;
	position: absolute;
	left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	background-color: white;
	z-index: 11;
}
