@import '../../App.scss';

.homepage {
  margin: 0 auto;
  padding-bottom: 230px;
}
.wrapper {
  margin: 0 auto;
  max-width: $componentBase;
}
.logo {
  width: 270px;
}
.intro {
  margin: 230px 30px 0 30px;
}
.perex {
  @include featureText;
  margin: 20px 0 50px;
}
.searchWrapper {
  margin: 45px 30px;
}

@media screen and (max-width: 979px) {
  .wrapper,
  .logo {
    max-width: $componentFluid;
  }
}

@media screen and (max-width: 650px) {
  .searchWrapper {
    margin: 24px 20px;
  }
}
