@import 'assets/styles/mixins';

.homepage {
  margin: 25vh auto 25vh;
}
.wrapper {
  margin: 0 auto;
  max-width: $resBase;
}
.logo {
  width: 270px;
}
.intro {
  margin: 0 30px 0 30px;
}
.perex {
  @include regularText;
  margin: 20px 0 50px;
}
.searchWrapper {
  margin: 45px 30px;
}
.profilesCount {
  visibility: hidden;
}
.profilesCountLoaded {
  visibility: visible;
}

@media screen and (max-width: 979px) {
  .wrapper,
  .logo {
    max-width: $componentFluid;
  }
}

@media screen and (max-width: 650px) {
  .homepage {
    padding-bottom: 72px;
  }
  .intro {
    margin: 72px 30px 0 30px;
  }
  .searchWrapper {
    margin: 24px 20px;
  }
}
