@import 'assets/styles/mixins';

.homepage {
  margin: 25vh auto 25vh;
}
.isSearched {
  margin-top: 0;
}

.logo {
  width: 270px;
}
.intro {

}
.perex {
  @include regularText;
  margin: 20px 0 50px;
}
.searchWrapper {

}
.profilesCount {
  visibility: hidden;
}
.profilesCountLoaded {
  visibility: visible;
}

@media screen and (max-width: 979px) {
  .wrapper,
  .logo {
    max-width: $componentFluid;
  }
}

@media screen and (max-width: 650px) {
  .homepage {
    padding-bottom: 72px;
  }
  .intro {
    margin: 72px 30px 0 30px;
  }
  .searchWrapper {
    margin: 24px 20px;
  }
}
