@import '../../App.scss';

.widget {
  margin-bottom: 36px;
  width: 48%;
  border-top: 2px solid $clDarkBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #fff;
  .header {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  .title {
    @include condensedTitle;
    margin-bottom: 24px;
    line-height: 24px;
  }
  .tags,
  .tag {
    display: flex;
  }
  .tags {
    align-self: flex-start;
  }
  .tag {
    margin-right: 10px;
    padding: 0 8px;
    align-items: center;
    border-radius: 50px;
    background-color: $clPrimaryLight;
  }
  .tagname {
    margin-left: 4px;
    color: $clPrimaryText;
  }
}

.article {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid $clBorder;
}
.articles {
  padding: 0 30px;
}
.sources {
  margin-bottom: 8px;
  display: flex;
  @include smallText;
  color: $clDark;
}
.source {
  @include linkBtn;
  @include smallText;
}
.headline {
  @include linkBtn;
  @include subTitle;
  color: $clLight;
  text-decoration: underline;
  text-decoration-color: $clBorder;

  &:after { content: none; }
}
.showMore {
  padding: 20px 30px;
  border-top: 1px solid $clBorder;
}
.more,
.less {
  @include linkBtn;
  color: $clPrimary;

  &:after {
    background-color: $clPrimary;
  }

  &:before {
    content: '';
    position: absolute;
    left: calc(100% + 12px);
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid $clPrimary;
    border-left: 3px solid $clPrimary;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 2px;
  }
}
.less {
  &:before {
    top: 8px;
    transform: rotate(135deg);
  }
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
}
