@import 'assets/styles/mixins';

.widget {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06), 4px 4px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 36px;
  border-top: 2px solid $clDarkBorder;
  box-sizing: border-box;
  background-color: #fff;
  .header {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
	.headerTitleWrapper {
		display: flex;
	}
	.title {
		@include condensedTitle;
		margin-right: 8px;
    margin-bottom: 24px;
    line-height: 24px;
  }
}

.article {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid $clBorder;
  break-inside: avoid;
}
.articles {
  padding: 0 30px;
  column-gap: 2em;
}
.sources {
  @include smallText;
  margin-bottom: 8px;
  display: flex;
  color: $clDark;
}
.source {
  @include linkBtn;
  @include smallText;
	color: $clDark;
	cursor: default;
}
.headline {
  @include linkBtn;
  @include subTitle;
  margin-bottom: 8px;
  color: $clLight;
  text-decoration: underline;
  text-decoration-color: $clBorder;

  &:after { content: none; }

  &:visited {
    color: #5c4866;
    text-decoration-color: #5c4866;
  }
}
.perex {
  @include smallText;
}
.showMore {
  padding: 20px 30px;
  border-top: 1px solid $clBorder;
}
.more,
.less {
  @include linkBtnPrimary;

  &:before {
    content: '';
    position: absolute;
    left: calc(100% + 12px);
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid $clPrimary;
    border-left: 3px solid $clPrimary;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 2px;
  }
}
.less {
  &:before {
    top: 8px;
    transform: rotate(135deg);
  }
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
  box-shadow: none;
}

.reportBtnWrapper {
  @include reportBtn;
}
.reportBtn {
  transform: scale(.6);
}

@media screen and (min-width: 1169px) {
  .columns1 {
    column-count: 1;
  }
  .columns2 {
    column-count: 2;
  }
  .multicolumn {
    column-count: 3;
  }
}

@media screen and (max-width: 650px) {
  .widget {
    width: $widgetFluid;
  }
}
