@import './assets/styles/vendor';

html,
.body {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  @include regularText;
  text-align: left;
  flex: 1;
}
