@import '../../App.scss';

.header {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: auto;
  box-shadow: inset 0 -1px 0 $clBorder;
  background-color: #fff;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: $resBase;
  width: 100%;
}
.navigation {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form {
  margin: 12px 0;
}
.logoLink {
  margin: 12px 30px 0 0;
  width: 216px;
  display: flex;
  align-items: center;
}
.links {
  margin-top: 12px;
}
.logo {
  width: 100%;
  height: 24px;
  background: url('../../assets/images/logo-np.svg')no-repeat;
}
.link {
  @include linkBtn;
  position: relative;
  margin-left: 30px;
  text-decoration: none;

  &:after {
    background-color: #000;
  }
  &:first-child {
    margin-left: 0;
  }
}
.headerSearchBar {
  width: 470px;
  height: 40px;
}
.searchIconWrapper {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: $clPrimary;
}
.hamburger,
.cancel {
  @include linkBtn;
}
.mobileMenuActive + *,
.hamburger,
.searchActions {
  display: none;
}

.cancel {
  display: none;
  margin-right: 12px;
}

@media screen and (max-width: 1169px) {
  .wrapper {
    width: $resFluid;
    max-width: $resFluid;
  }
  .headerSearchBar {
    width: $componentFluid;
  }
}

@media screen and (max-width: 979px) {
  .navigation {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .form,
  .headerSearchBar {
    display: none;
  }
  .mobileSearch,
  .hamburger {
    display: block;
  }
  .logo {
    background: url('../../assets/images/logo-icon-np.svg')no-repeat center center;
  }
  .logoLink {
    margin: 12px 20px 0 0;
    width: 48px;
  }
  .detailHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .wrapper {
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
    }
    .navigation {
      justify-content: space-between;
      width: 100%;
    }
    .logoLink {
      margin: 0;
    }
    .links {
      display: none;
      flex-direction: column;
      flex-basis: 100%;
      align-items: flex-end;

      &.openMenu {
        display: flex;
      }
    }
    .link {
      margin: 0 0 10px;
  
      &:last-child {
        margin: 0;
      }
    }
  }
  .searchActions {
    display: flex;
    align-items: center;
  }
  .mobileSearch {
    .logoLink,
    .searchIcon,
    .searchIconWrapper,
    .hamburger {
      display: none;
    }
    .searchActions {
      width: 100%;
      .headerSearchBar {
        display: flex;
      }
    }
    .cancel,
    .form {
      display: block;
    }
    .form {
      width: 100%;
    }
  }
}
