@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte na hackatonu</h1>
    <ul>
        <li>
            @Html.ActionLink("Agent Bureš", "politik", "politik", new { id = "agent-bures" })
        </li>
        <li>
            @Html.ActionLink("Richard Brabec", "politik", "politik", new { id = "richard-brabec" })
        </li>
        <li>
            @Html.ActionLink("Miroslav Kalousek", "politik", "politik", new { id = "miroslav-kalousek" })
        </li>
        <li>
            @Html.ActionLink("Milan Feranec", "politik", "politik", new { id = "milan-feranec" })
        </li>
    </ul>
</div>
