${jsonencode([
  {
    "dnsSearchDomains": null,
    "logConfiguration": {
      "logDriver": "awslogs",
      "secretOptions": null,
      "options": {
        "awslogs-group": "/ecs/nasi-politici",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "entryPoint": [],
    "portMappings": [
      {
        "hostPort": 5001,
        "protocol": "tcp",
        "containerPort": 5001
      }
    ],
    "command": [],
    "linuxParameters": null,
    "cpu": 0,
    "environment": [
    {
      "name": "ASPNETCORE_MonitoraApiUrl",
      "value": "${MonitoraApiUrl}"
    },
    {
      "name": "ASPNETCORE_HlidacAuthenticationToken",
      "value": "${HlidacAuthenticationToken}"
    },
    {
      "name": "ASPNETCORE_CzFinToken",
      "value": "${CzFinToken}"
    },
    {
      "name": "ASPNETCORE_MailAuthenticationToken",
      "value": "${MailAuthenticationToken}"
    },
    {
      "name": "ASPNETCORE_MailApiUrl",
      "value": "${MailApiUrl}"
    }
    ],
    "resourceRequirements": null,
    "ulimits": null,
    "dnsServers": null,
    "mountPoints": [],
    "workingDirectory": null,
    "secrets": null,
    "dockerSecurityOptions": null,
    "memory": null,
    "memoryReservation": null,
    "volumesFrom": [],
    "stopTimeout": null,
    "image": "${aws_repository}:latest",
    "startTimeout": null,
    "firelensConfiguration": null,
    "dependsOn": null,
    "disableNetworking": null,
    "interactive": null,
    "healthCheck": null,
    "essential": true,
    "links": [],
    "hostname": null,
    "extraHosts": null,
    "pseudoTerminal": null,
    "user": null,
    "readonlyRootFilesystem": null,
    "dockerLabels": null,
    "systemControls": null,
    "privileged": null,
    "name": "nasi-politici"
  }
])}