@import '../../App.scss';

.widget {
  margin-bottom: 36px;
  width: $widgetBase;
  border-top: 2px solid $clDarkBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #fff;
  .header {
    display: flex;
    justify-content: space-between;
		flex-wrap: wrap;
		padding: 30px 30px 0 30px;
  }
  .title {
    @include condensedTitle;
    margin-bottom: 24px;
    line-height: 24px;
  }
  .tags,
  .tag {
    display: flex;
  }
  .tags {
    align-self: flex-start;
  }
  .tag {
    margin-right: 10px;
    padding: 0 8px;
    align-items: center;
    border-radius: 50px;
    background-color: $clPrimaryLight;
  }
  .tagname {
    margin-left: 4px;
    color: $clPrimaryText;
	}
	.stats {
		padding: 0 30px 0 20px;
	}
	.linkWrapper {
		display: flex;
		justify-content: flex-end;
		padding: 20px 30px;
		border-top: 1px solid $clBorder;
		.link {
			@include linkBtn;
			color: $clPrimary;
    }
    .redirectBtn {
      margin-left: 6px;
    }
	}
}

.noData {
  border-top: 1px solid $clComponentBorder;
  background-color: #f0f0f0;
}

.reportBtnWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F2F2F2;
}
.reportBtn {
  transform: scale(.6);
}

.sum {
	margin-bottom: 17px;
	padding: 0 30px;
}

.itemsWrapper {
	display: flex;
	flex-direction: column;
}

.count {
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	margin: 0 0 10px 10px;
	.number {
		display: flex;
		align-items: center;
		.icon {
      padding: 6px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

.percBar {
	height: 40px;
	margin-bottom: -40px;
}

.true {
	color: $clPrimaryText;
	.percBar {
		background-color: $clBlue;
    opacity: .1;
	}
	.icon {
		background-color: $clPrimaryText;
	}
}

.untrue {
	color: $clError;
	.percBar {
		background-color: $clErrorBg;
	}
	.icon {
		background-color: $clError;
	}
}

.misleading {
	color: $clYellow;
	.percBar {
    background-color: $clYellow;
    opacity: .1;
	}
	.icon {
		background-color: $clYellow;
	}
}

.unverifiable {
	margin-bottom: 0;
	color: $clDark;
	.percBar {
		background-color: $clGray;
    opacity: .1;
	}
	.icon {
		background-color: $clDark;
	}
}

.percent {
	color: $clDark;
}

@media screen and (max-width: 650px) {
  .widget {
    width: $widgetFluid;
  }
}
